# mxlib/drv/Kconfig

menu "Utopia Drviver Library Selection"

#===================================================
# Utopia Driver Libraries
#===================================================
comment "Utopia Driver Libraries"

source "../../mxlib/drv/ace/Kconfig"
source "../../mxlib/drv/aesdma/Kconfig"
source "../../mxlib/drv/audio/Kconfig"
source "../../mxlib/drv/audsp/Kconfig"
source "../../mxlib/drv/avd/Kconfig"
source "../../mxlib/drv/bdma/Kconfig"
source "../../mxlib/drv/ir_tx/Kconfig"
source "../../mxlib/drv/ca2/Kconfig"
source "../../mxlib/drv/cec/Kconfig"
source "../../mxlib/drv/cipher/Kconfig"
source "../../mxlib/drv/cmdq/Kconfig"
source "../../mxlib/drv/cpu/Kconfig"
source "../../mxlib/drv/ch34/Kconfig"
source "../../mxlib/drv/dac/Kconfig"
source "../../mxlib/drv/ddc2bi/Kconfig"
source "../../mxlib/drv/demod/Kconfig"
#source "../../mxlib/drv/dip/Kconfig"
source "../../mxlib/drv/dlc/Kconfig"
source "../../mxlib/drv/dmd/Kconfig"
source "../../mxlib/drv/dscmb/Kconfig"
source "../../mxlib/drv/dscmb2/Kconfig"
source "../../mxlib/drv/dvb_extdemod/Kconfig"
source "../../mxlib/drv/flash/Kconfig"
source "../../mxlib/drv/ge/Kconfig"
source "../../mxlib/drv/gop/Kconfig"
source "../../mxlib/drv/gopsc/Kconfig"
source "../../mxlib/drv/gpd/Kconfig"
source "../../mxlib/drv/gpio/Kconfig"
source "../../mxlib/drv/hdcp/Kconfig"
source "../../mxlib/drv/hdmitx/Kconfig"
source "../../mxlib/drv/hdmitx2/Kconfig"
source "../../mxlib/drv/hvd/Kconfig"
source "../../mxlib/drv/hvd_ex/Kconfig"
source "../../mxlib/drv/hvd_v3/Kconfig"
source "../../mxlib/drv/hwi2c/Kconfig"
source "../../mxlib/drv/ipauth/Kconfig"
source "../../mxlib/drv/ir/Kconfig"
source "../../mxlib/drv/irq/Kconfig"
source "../../mxlib/drv/jpd/Kconfig"
source "../../mxlib/drv/jpd_ex/Kconfig"
source "../../mxlib/drv/mbx/Kconfig"
source "../../mxlib/drv/mfc/Kconfig"
source "../../mxlib/drv/mfe/Kconfig"
source "../../mxlib/drv/mfe_ex/Kconfig"
source "../../mxlib/drv/mhl/Kconfig"
#source "../../mxlib/drv/minitsp/Kconfig"
source "../../mxlib/drv/miu/Kconfig"
source "../../mxlib/drv/mmio/Kconfig"
#source "../../mxlib/drv/mpif/Kconfig"
source "../../mxlib/msos/Kconfig"
source "../../mxlib/msfs/Kconfig"
source "../../mxlib/drv/mvd/Kconfig"
source "../../mxlib/drv/mvd_ex/Kconfig"
source "../../mxlib/drv/mvd_v3/Kconfig"
source "../../mxlib/drv/mvop/Kconfig"
source "../../mxlib/drv/mspi/Kconfig"
source "../../mxlib/drv/nsk2/Kconfig"
source "../../mxlib/drv/njpd_ex/Kconfig"
source "../../mxlib/drv/pcmcia/Kconfig"
source "../../mxlib/drv/pm/Kconfig"
source "../../mxlib/drv/pnl/Kconfig"
source "../../mxlib/drv/pwm/Kconfig"
source "../../mxlib/drv/pws/Kconfig"
source "../../mxlib/drv/rtc/Kconfig"
source "../../mxlib/drv/rvd/Kconfig"
source "../../mxlib/drv/sar/Kconfig"
source "../../mxlib/drv/sc/Kconfig"
source "../../mxlib/drv/sem/Kconfig"
source "../../mxlib/drv/smbx/Kconfig"
source "../../mxlib/drv/stbdc/Kconfig"
source "../../mxlib/drv/sys/Kconfig"
source "../../mxlib/drv/tso/Kconfig"
source "../../mxlib/drv/tsp/Kconfig"
source "../../mxlib/drv/tsp3/Kconfig"
source "../../mxlib/drv/tsp_tee/Kconfig"
source "../../mxlib/drv/mmfi/Kconfig"
source "../../mxlib/drv/mmfi2/Kconfig"
source "../../mxlib/drv/uart/Kconfig"
source "../../mxlib/drv/urdma/Kconfig"
source "../../mxlib/drv/usb_ecos/usbhost/Kconfig"
source "../../mxlib/drv/usbhost/Kconfig"
source "../../mxlib/drv/vbi/Kconfig"
source "../../mxlib/drv/ve/Kconfig"
source "../../mxlib/drv/vif/Kconfig"
source "../../mxlib/drv/wble/Kconfig"
source "../../mxlib/drv/wdt/Kconfig"
source "../../mxlib/drv/xc/Kconfig"
source "../../mxlib/drv/seal/Kconfig"
source "../../mxlib/drv/cmdq/Kconfig"
#source "../../mxlib/drv/localdimm/Kconfig"
source "../../mxlib/drv/pq/Kconfig"
source "../../mxlib/drv/pvr_iframelut/Kconfig"
source "../../mxlib/drv/clkm/Kconfig"
source "../../mxlib/drv/ldm/Kconfig"

endmenu
